#wrapper {
    width: 100%;
}

.hamburger-menu {
    display: none;
}

.hamburger-menu__bars {
    background-color: #fff;
    border-radius: 4px;
    width: 27px;
    margin-bottom: 6px;
    height: 3px;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
}

.hamburger-menu__bars--shorter {
    width: 21px;
}

.header {
    background-image: url(../img/header.png);
    height: 700px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-content__title {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 82px;
    font-weight: 700;
    line-height: 20.45px;
    padding-top: 80px;
}

.header-content__subtitle {
    color: #8d81ac;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 20.45px;
    padding-top: 60px;
}

.header-content__caption {
    color: #848e97;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.45px;
    text-transform: uppercase;
    padding-top: 20px;
}

.wrap {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.mobile-menu {
    display: none;
    background-color: #333;
    position: absolute;
    width: 95%;
    left: 0;
    right: 0;
    top: 100%;
    opacity: 0;
    z-index: 2;
    margin: 0 auto;
}

.mobile-menu__items {
    border-bottom: 1px solid #3b3b3b;
    padding: 34px 0;
}

.mobile-menu__links {
    color: #fff;
    font-size: 26px;
    padding-left: 30px;
}

.navbar {
    background-color: #27262a;
    font-family: Montserrat, sans-serif;
    padding: 30px 0;
}

.navbar-content {
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar-title {
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: #fff;
    text-decoration: none;
}

.navbar-title:hover .navbar-title__logo::after {
    opacity: 1;
}

.navbar-title__logo {
    display: block;
    width: 43px;
    height: 49px;
    overflow: hidden;
    position: relative;
}

.navbar-title__logo::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/Logo.png);
    background-position: 0 57px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

.navbar-title__text {
    text-transform: uppercase;
    padding-left: 20px;
    color: #8d81ac;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.navbar-menu {
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.navbar-menu__list {
    display: flex;
}

.navbar-menu__item {
    padding-right: 30px;
}

.navbar-menu__link {
    text-decoration: none;
    color: #8d81ac;
    font-size: 16px;
    font-weight: 600;
    line-height: 15px;
    -webkit-transition: color 0.2s ease-in;
    transition: color 0.2s ease-in;
}

.navbar-menu__button {
    background-color: #8d81ac;
    color: #fff;
    border-radius: 15px;
    border: none;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    outline: 0;
    -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
    padding: 6px 26px;
}

.navbar-menu__button:hover {
    color: #8d81ac;
    background-color: #fff;
}

.topButtonBlock {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.28571428;
    margin: -33px 0 55px;
}

.present__button {
    height: 62px;
    min-width: 390px;
    color: #fff;
    background-color: #8d81ac;
    border: transparent;
    border-radius: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 20.45px;
    outline: 0;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in;
    transition: color 0.2s ease-in, background-color 0.2s ease-in, border 0.2s ease-in;
    margin: 0 0 16px;
    padding: 17px;
}

.present__button:hover {
    border: 1px solid #8d81ac;
    color: #8d81ac;
    background-color: #fff;
}

.present__subtitle {
    color: #848e97;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
}

.header-content {
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.navbar-title:hover .navbar-title__text,
.navbar-menu__link:hover {
    color: #fff;
}

@media only screen and (min-width: 481px) and (max-width: 992px) {
    .header-content__title {
        font-size: 72px;
    }
    .header-content__subtitle {
        font-size: 19px;
        text-align: center;
    }
    .navbar-title {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        order: 1;
    }
    .navbar-menu__button {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        order: 2;
    }
    .navbar-menu {
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        order: 3;
        margin-top: 17px;
    }
    .header-content__caption,
    .navbar-menu__link {
        font-size: 14px;
    }
    .navbar-content {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
    .header-content__title {
        font-size: 48px;
    }
    .header-content__subtitle {
        font-size: 18px;
        text-align: center;
    }
    .header-content__caption {
        font-size: 14px;
    }
    .navbar {
        position: relative;
    }
    .navbar .hamburger-menu {
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        order: 1;
    }
    .navbar-menu,
    .navbar-title__text {
        display: none;
    }
    .present__button {
        min-width: 95%;
    }
}

@media only screen and (min-width: 1200px) {
    .navbar-menu {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    .navbar-menu {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        flex-grow: 1;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
    }
}